.box1, .box3 {
    width: 200px;
    height: 200px;
    background-color: #bfa;
}.box1, .box3 {
    width: 200px;
    height: 200px;
    background-color: #bfa;
}

.box2, .box4 {
    width: 100px;
    height: 100px;
    margin-top: 100px;
    background-color: orange;
}

.box3::before {
    content: '';
    display: table;
}

h2 {
    color: red;
}